.main-margin-top {
  margin-top: 65px;
}

.active {
  background-color: royalblue !important;
  color: white !important;
  font-weight: 200 !important;
  text-shadow: none !important;
}

.brand-color {
  color: royalblue !important;
}

.jumbotron-color {
  background: rgba(38, 0, 255, 1);
  background: -moz-linear-gradient(-45deg, rgba(38, 0, 255, 1) 0%, rgba(255, 0, 0, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(38, 0, 255, 1)), color-stop(100%, rgba(255, 0, 0, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(38, 0, 255, 1) 0%, rgba(255, 0, 0, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(38, 0, 255, 1) 0%, rgba(255, 0, 0, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(38, 0, 255, 1) 0%, rgba(255, 0, 0, 1) 100%);
  background: linear-gradient(135deg, rgba(38, 0, 255, 1) 0%, rgba(255, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2600ff', endColorstr='#ff0000', GradientType=1);
}

.box-shadow {
  -webkit-box-shadow: 0px 1px 66px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 66px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 66px -10px rgba(0, 0, 0, 0.75);
}

.h-icon-size{
  font-size: 60px;
}

.jumbotron-color h2 {
  color: white;
}

.margin-top {
  margin-top: 10px;
}

.right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
